.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  -webkit-transition: all .5s ease-in-out;
}
.card:hover{
    cursor: cell;
    -webkit-transition: all .5s ease-in-out;
    -webkit-transform: scale(1.03);
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;

}

.card button:hover {
  opacity: 0.7;

}

ul li {
  list-style: none;
}

hr {
  width: 100%;
  height: 200px;
}

#spec {
  margin-top: 20px;
}

#img_articles {
  width: 400px;
}

#search_bar {
  border-radius: 10px;
  width: 40%;
}
