.about{
    width: auto;
    border: 1px solid black;
    padding:80px;
    margin-top:50px;
    border-radius:10px;
    font-size: 20px;
    box-shadow: 0px 3px 10px 0px;
}
.aboutinfo{
    box-shadow: 0px 3px 10px 0px;
    width: auto;
    border: 1px solid black;
    padding-top:80px;
    padding-bottom:80px;
    margin-top:50px;
    border-radius:10px;
    font-size: 20px;
}
.container{
    margin-top:30px
}
.add{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
}