.col{
    display: flex;
    flex-direction: column;
}

.aboutadd{
    width: 600px;
    border: 1px solid black;
    padding:80px;
    margin-top:40px;
    border-radius:10px;
    font-size: 20px;
    box-shadow: 0px 3px 10px 0px;
}
.float-r{
    float: left;
}

.imageProduit{
    max-height: 500px;
    /* max-width: 400px; */
    /* margin-top: 20px; */
}

.beau {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 500px;
    width: 500px;
}
